<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="editpage">
    <h1>Edit Pokemon Page</h1>
</div>
<div class= "editform">
<form action="/pokemon/<%=index %>?_method=PUT" method="POST">
Name: <input type="text" name="name" value="<%=pokemon.name %>" /><br />
Type: <input type="text" name="type" value="<%=pokemon.type %>" /><br />
Image: <input type="file" id="image_input" name="image" value="<%=pokemon.img%>" /><br /><br />
</div>
<div class= "editimage">
<img src="<%= pokemon.img %>" alt="">
</div>
</div>
<div class= "updatebutton">
<input type="submit" value="Update Pokemon" />
</div>

</form>
</body>
</html>

<%# image deletes when i "edit". Unsure how to fix. %>