<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include("./partials/header.ejs") %>
    <h1><% title %></h1>
    <img src="<%= pokemon.img %>" alt="">
    <table>
    <div class="heading">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Stats</th>
        </tr>
        <tr>
            <td><%= pokemon.name %></td>
            <td><%= pokemon.type %></td>
            <td><% Object.keys(pokemon.stats).forEach(key => { %>
                <div class= "stats">
              <%= key %>:
            </div>
                 <%= pokemon.stats[key] %>
          <% }) %> </td>
         
        </tr>
    </div>
</table>
       
    
</body>
</html>