<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include("./partials/header.ejs") %>
    <h1><% title %></h1>
    <div class="heading">
    <h2>Name:</h2>
    <h3><%= pokemon.name %></h3>
    <h2>Type:</h2>
    <h3><%= pokemon.type %></h3>
    <img src="<%= pokemon.img %>" alt="">
    </div>
    <% Object.keys(pokemon.stats).forEach(key => { %>
      <h2> <%= key %>:</h2>
       <%= pokemon.stats[key] %>
<% }) %> 
  
       
    
</body>
</html>