<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include("./partials/header.ejs") %>
    <h1><% title %></h1>
    <h2><%= pokemon.name %></h2>
    <h2><%= pokemon.type %></h2>
    <img src="<%= pokemon.img %>" alt="">
       
    
</body>
</html>